<<<<<<< HEAD
// .featured-image {
//   height: 393px;
//   width: 100%;
//   background-size: cover;
//   background-position: center;
//   background-color: turquoise;
// }
=======
.featured-image {
  height: 393px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: $font__headers;
}
>>>>>>> db2d41c1169655f86a81c6a6aac949ec9958953b
