@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
$blue: #14a4ab;
#map {
  height: 70vh;
  width: 100%;
}
#map-filter {
  position: absolute;
  display: flex;
  flex-direction: column;

	height: 45px;
	overflow: hidden;
	// height: initial;

  background: #fff;
  margin: .8rem;
	margin-top: 3.5rem;
	padding: 10px;

  & #filter-input {
    margin: 0.5rem;
  }
	.has-food-label{
		margin-right: 2rem;
	}
	div{
		margin-bottom: .5rem;
	}
	#submit-btn{
		color: white;
		background: #14A4AB;
		font-family: 'Antonio';
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0.1em;
		text-decoration: none;
		padding: .5rem;
		text-align: center;
		text-transform: uppercase;
	}
}
#content {
  height: 100%;
  width: 330px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  overflow: hidden;

	.content-container{
		display: flex;
		flex-direction: column;

		.lineup-table{
			padding: 0 .5rem;
			text-align: center;
			font-weight: bold;
			td:nth-child(1){
				background-color:black;
				color:white;
			}
			td:nth-child(1),td:nth-child(2){
				height: 1rem;
				border:2px solid black;
			}
		}

		.directions-btn{
			color: $blue;
			font-weight: 600;
			text-decoration: none;
			letter-spacing: 10%;
			background: none;
			outline: none;
			border: none;
		}

		.lineup-btn{
			padding: 0.5rem 0;
      background: $blue;
      color: #fff;
      font-family: 'Antonio', sans-serif;
      cursor: pointer;
      font-size: 20px;
      letter-spacing: 3px;
      font-weight: 200;
      text-align: center;
		}
	}

  & img {
    height: 200px;
    width: 330px;
  }
  & #content-header {
    margin: 0.5rem;
    & h3 {
      font-family: 'Antonio', sans-serif;
      font-weight: 700;
      margin-top: 1rem;
    }
    & p {
      font-weight: 500;
      font-size: 16px;
    }
  }
  & #desc {
    margin: 0.5rem;
    font-size: 16px;
    font-weight: 500;
  }
  & #lineup-info {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;

    & p {
      font-weight: 700;
      margin: 0;
    }
    & a {
      color: #14a4ab;
      font-weight: 700;
      text-decoration: none;
      letter-spacing: 10%;
    }
  }
  & #btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    & a {
      padding: 0.5rem 6.75rem;
      background: #14a4ab;
      color: #fff;
      font-family: 'Antonio', sans-serif;
      cursor: pointer;
      font-size: 20px;
      letter-spacing: 3px;
      font-weight: 200;
      text-align: center;
    }
  }
}

// Mobile Styles
@media (min-width: 320px) {
  #content {
    width: 160px;
    height: 100%;
    overflow-y: hidden;
    & img {
      width: 160px;
      height: 100px;
    }
  }
  #content-header {
    width: 150px;
    & h3 {
      font-size: 16px;
    }
    & p {
      font-size: 12px !important;
    }
  }
  #desc {
    & p {
      font-size: 12px;
    }
  }
  #lineup-info {
    width: 150px;
    & p {
      font-size: 12px !important;
    }
    & a {
      font-size: 12px;
    }
  }
  #btn-container {
    width: 160px;
    & button {
      width: 160px;
      height: 35px;
      font-size: 14px !important;
    }
  }
}

@media (min-width: 576px) {
  #content {
    width: 250px;
    & img {
      width: 250px;
      height: 175px;
    }
  }
  #content-header {
    width: 250px;
  }
  #lineup-info {
    width: 240px;
  }
  #btn-container {
    width: 250px;
    & button {
      font-size: 16px !important;
    }
  }
}

@media (min-width: 768px) {
  #content {
    width: 330px;
    height: 100%;
    & img {
      width: 330px;
      height: 200px;
    }
  }
  #content-header {
    width: 330px;
    & h3 {
      font-size: 22px;
    }
    & p {
      font-size: 16px !important;
    }
  }
  #desc {
    width: 330px;
    & p {
      font-size: 16px;
    }
  }
  #lineup-info {
    width: 320px;
    & p {
      font-size: 16px !important;
    }
    & a {
      font-size: 16px !important;
    }
  }
  #btn-container {
    width: 330px;
    & button {
      width: 100%;
      height: 46px;
    }
  }
}
