@import "../../abstracts/variables/colors";

.type-page {
  min-height: 50vh;
  background-color: $violetdark;
  color: $white;
  border-top: 1rem $violetdark solid;
  border-bottom: 1rem $violetdark solid;
  padding: 0 1rem;
} 