.pfmcs-table-container{
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-areas: ". table .";
	margin-top: 5rem;

	table{
		grid-area: table;
		td,th{
			border:2px solid black;
			text-align: center;
		}
	}
}