.pfmcs-table-container{
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: 
		". menu ."
		". table ."
	;

	gap: 1rem;
	margin-top: 5rem;

	.menu{
		grid-area: menu;
		display: flex;
		justify-content: center;
		gap: 1rem;
		.active{background-color: rgb(98, 12, 88);}
		button{color: white;}
	}

	table{
		grid-area: table;
		td,th{
			border:2px solid black;
			text-align: center;
		}
		a{color:#4fc3c9;}
	}

	.hide{
		display: none;
	}
}