// removing search bar
aside#secondary {
    display: none;
}

.porchespost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.porchcard{
    height: 300px;
    width: 300px;
    background-color: $violet;
    border: 1px solid black;
}