/* Error: expected selector.
 *      ,
 * 1021 | <<<<<<< Updated upstream
 *      | ^
 *      '
 *   sass\components\content\_home-page.scss 1021:1  @import
 *   sass\components\_components.scss 5:9            @import
 *   sass\style.scss 82:9                            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a      \2577 \a 1021 \2502  <<<<<<< Updated upstream\d\a      \2502  ^\a      \2575 \a   sass\\components\\content\\_home-page.scss 1021:1  @import\a   sass\\components\\_components.scss 5:9            @import\a   sass\\style.scss 82:9                            root stylesheet";
}
