// Font Variables
$font-path:   'fonts/';
$font-antonio: 'Antonio';
$font-open-sans: 'Open Sans';
$font-open-sans-italic: 'Open Sans Italic';

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

@font-face {
  font-family: $font-antonio;
  src: url('#{$font-path}Antonio-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-open-sans-italic;
  src: url('#{$font-path}OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-open-sans;
  src: url('#{$font-path}OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@import "headings";
@import "copy";
