$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #F2B814; //royalblue
$color__link-visited: #FAF1D5; //purple
$color__link-hover: #FAF1D5; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$black: #212133;
$white: #fff;
$violet: #F2B814;
$violetdark: #1A2E47;
$teal: #6F91A5;
$plum: #1A2E47;

// Panel Specific Colors
$color__panel-text: $white; // Added for details panel text

// Light yellow:  #f2b814
// dark yellow: #aa810e
// sage: #91b1a6
// Dark blue: #212133

// 2024 Poster Hex codes:
// 1A2E47 - Dark Blue
// 6F91A5 - Light Blue
// FAF1D5 - Cream
// F2B814 - Orange